---
layout: default
---
<h1 id='welcome'>地域Ruby会議(Regional RubyKaigi)</h1>
<div class='epigraph'>
<blockquote cite='http://dablog.rubypal.com/2008/9/13/tracks-a-go-go-at-rubyconf-2008'>
“regional” wasn’t going to mean “provincial”—that regional conferences could be top-notch events—and that hope has been fulfilled beyond what we could possibly have wished for.
</blockquote>
<div class='source'>
――
<a href="http://dablog.rubypal.com/2008/9/13/tracks-a-go-go-at-rubyconf-2008">D.A.Black</a>
</div>
</div>
<div class='event_index'>
<p>地域Ruby会議(Regional RubyKaigi;りーじょなるるびーかいぎ)は、<a href="http://rubykaigi.org/">RubyKaigi</a>のようなイベントをいろんな地域でやってしまおうというプロジェクトです。<a href="http://ruby-no-kai.org">日本Rubyの会</a>が<a href="http://www.fdiary.net/ml/ruby/msg/1929">後援</a>しています。</p>

<h2>地域Ruby会議</h2>

<p>未確定情報を含む、今後の開催情報は、日本Ruby会の公式Wikiの<a href="https://github.com/ruby-no-kai/official/wiki/Upcomingregionalrubykaigi">これから開催される地域Ruby会議</a>のページも参照してください。</p>

<ul>
{% for event in site.data.events reversed %}
<li>
  {{ event.start_on | date: "%Y-%m-%d(%a)" }}
  {% if event.start_on != event.end_on %}
    〜
    {% if event.start_on.year == event.end_on.year %}
      {{ event.end_on | date: "%m-%d(%a)" }}
    {% else %}
      {{ event.end_on | date: "%Y-%m-%d(%a)" }}
    {% endif %}
  {% endif %}
  {% if event.external_url %}
    <a href="{{ event.external_url }}">{{ event.title }}</a>
  {% else %}
    <a href="/{{ event.name }}">{{ event.title }}</a>
  {% endif %}
</li>
{% endfor %}
</ul>

<h2>地域Ruby会議を開催するには</h2>
<div>
日本Rubyの会のWikiの
<a href="https://github.com/ruby-no-kai/official/wiki/Regionalrubykaigi">RegionalRubyKaigiのページ</a>
を参照してください。<br /><span style="color:#999">(かつてはredmine.ruby-lang.orgに書いていたのですが、移転しました)</span>
</div>

</div>

