@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Zen+Maru+Gothic:wght@400;700&display=swap');

body {
/* ★★★ 背景白は解除background-color:#ffffff;★★★ */
    font-family: 'Zen Maru Gothic',sans-serif;
}
.clear{clear:both;}
img{line-height:0; }
a {outline:none;}
a img {outline:none;}
a:visited{outline:none;}
.clearfix::after {content: "";display: block;clear: both;}

 /*  *{outline: solid 1px red;}   */

@media screen and (min-width: 0px) {
/* 共通用のスタイル記述 */
body {
/* ★★★　背景白は解除background-color:#ffffff;★★★ */
    position: relative;
    color:#fff;
    font-size:15px;
    line-height:2em;
    background-color: #7C142B;
    z-index: 0;
}
body::after {
    position: absolute;
    top: 0;
    content: '　';
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../images/bg/back_top_pc.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 1920px;
    z-index: 0;
}
body.page::after {
    background-image: url(../images/bg/back_page_pc.svg);
}

.br-sp{display:none;}
.br-pc{display:block;}
.pc{display: inline-block;}
.sp{display: none;}

hr{
    margin: 20px 0;
    display: inline-block;
    width: 120px;
}

/* ★★★★★★★★★★ ページ用テンプレート ★★★★★★★★★★ */
#wrapper {
    position: relative;
    width:100%;
	margin:0 auto 0;
	padding:60px 0px 0px ;
    z-index: 1;
}

.page_logo{
    position: absolute;
    top: 18px;
    left: 15px;
    width: 120px;
    z-index: 2;
}
.page_logo img{
    width: 100%;
    height: auto;
}

a.text_link{
    display: inline-block;
    margin: 0 0 0 15px;
    text-decoration: underline;
}
a.text_link:hover{
    text-decoration: none;
}

/* ★★★★★★★★★★ TOP_冒頭ビジュアル ★★★★★★★★★★ */
.top_contents_wrap{
    position: relative;
    width: 1080px;
    margin: 0px auto 0;
    padding: 180px 0 90px;
}

/* ★★★★★★★★★★ コンテンツ ★★★★★★★★★★ */
.contents_wrap{
    position: relative;
    width: calc(100% - 100px);
    max-width: 800px;
    margin: 0 auto 0px;
    padding: 100px 0 50px;
    color: #fff;
}
.contents_wrap a{
    text-decoration: underline;
    word-break: break-all;
}
.contents_wrap a:hover{
    text-decoration: none;
}

h1.contents_title, h2.contents_title{
    display: inline-block;
    margin: 0em 0 1.5em;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.3em;
}
h1.contents_title span, h2.contents_title span{
    display: block;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.3em;
}
.contents_title::before {
    content: '';
    display: block;
    width: 160px;
    padding: 20px 0 0px;
    border-top: solid 1px rgba(255,255,255,0.2);
}
.contents_title::after {
    position: absolute;
    top: 100px;
    left: -105px;
    display: block;
    font-family: 'Dongle', sans-serif;
    font-size: 115px;
    font-weight: bold;
    transform: rotate(90deg);
    transform-origin: left top;
    color: rgba(255,255,255,0.2);
}
.contents_title_theme::after {
    content: "Theme";
}
.contents_title_news::after {
    content: "News";
}
.contents_title_coc::after {
    content: "Code of Conducts";
}
.contents_title_keynote::after {
    content: "Keynote Speakers";
}
.contents_title_staff::after {
    content: "Staff";
}
.contents_title_designer::after {
    content: "Designer";
}
.contents_title_notice::after{
    content: "Notice";
}
.contents_title_cfp::after{
    content: "CFP";
}


/* ★★★★★★★★★★ TOP_CFP ★★★★★★★★★★ */
a.cfp_button{
    display: inline-block;
    margin: -10px 0 10px;
    padding: 5px 16px 5px 20px;
    border-radius: 4px;
    background-color: #fff;
    color: #7C142B;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}
a.cfp_button:hover{
    opacity: 0.5;
}
/* ★★★★★★★★★★ TOP_キーノートスピーカー ★★★★★★★★★★ */
.keynote_speakers_flex{
    display: flex;
    flex-wrap: wrap;
}
.keynote_speakers_item{
    width: 45%;
    margin: 0 10% 0 0;
}
.keynote_speakers_item:last-of-type{
    width: 45%;
    margin: 0 0% 0 0;
}
.keynote_speakers_item img{
    width: 240px;
    height: auto;
    border-radius: 4px;
}
.keynote_speakers_name{
    margin: 0.25em 0 0.5em;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.2em;
}
.keynote_speakers_sns_list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 5px 0;
}
.keynote_speakers_sns_list li{
    margin: 0 10px 0 0;
}
.keynote_speakers_sns_list li a{
    display: block;
    width: 30px;
    transition: 0.5s;
}
.keynote_speakers_sns_list li a:hover{
    opacity: 0.5;
}
.keynote_speakers_sns_list li a img{
    width: 100%;
    height: auto;
}
.keynote_speakers_text{
    margin: 0;
}



/* ★★★★★★★★★★ Noticeページ_ ★★★★★★★★★★ */
h2.contents_sub_title{
    display: block;
    margin: 2em 0 0.25em;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
}
h2.contents_sub_title:first-of-type{
    margin: 1em 0 0.25em;
}


}

/* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
ここから下、タブレット用
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
@media (max-width: 1080px) and (min-width: 768px) {


body::after {
    background-size: 1280px;
}

/* ★★★★★★★★★★ TOP_冒頭ビジュアル ★★★★★★★★★★ */
.top_contents_wrap{
    position: relative;
    width: calc(100% - 100px);
    max-width: 800px;
    margin: 0px auto 0;
    padding: 100px 0 90px;
}
.top_contents_wrap img{
    width: 50%;
    height: auto;
}

/* ★★★★★★★★★★ コンテンツ ★★★★★★★★★★ */
.contents_wrap{
    position: relative;
    width: calc(100% - 100px);
    max-width: 700px;
    margin: 0 auto 0px;
    padding: 100px 0 50px;
    color: #fff;
}
.contents_wrap a{
    text-decoration: underline;
    word-break: break-all;
}
.contents_wrap a:hover{
    text-decoration: none;
}

h1.contents_title, h2.contents_title{
    display: inline-block;
    margin: 0em 0 1.5em;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.3em;
}
h1.contents_title span, h2.contents_title span{
    display: block;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.3em;
}
.contents_title::before {
    content: '';
    display: block;
    width: 160px;
    padding: 20px 0 0px;
    border-top: solid 1px rgba(255,255,255,0.2);
}

.contents_title::after {
    position: absolute;
    top: 100px;
    left: -20px;
    display: block;
    font-family: 'Dongle', sans-serif;
    font-size: 80px;
    font-weight: bold;
    transform: rotate(90deg);
    transform-origin: left top;
    color: rgba(255,255,255,0.2);
}
.contents_title_theme::after {
    content: "Theme";
}
.contents_title_news::after {
    content: "News";
}
.contents_title_coc::after {
    content: "Code of Conducts";
}

}






/* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
ここから下、スマホ用
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */

@media screen and (max-width: 767px) {
/* スマホ用記述 */
body {
/* ★★★ 背景白は解除background-color:#ffffff;★★★ */
	color:#111;
	font-size:13px;
	line-height:1.9em;
}

body::after {
    background-image: url(../images/bg/back_top_sp.svg);
    background-size: 100%;
}
body.page::after {
    background-image: url(../images/bg/back_page_sp.svg);
}

.br-sp{display:block;}
.br-pc{display:none;}
.pc{display: none;}
.sp{display: inline-block;}

/* ★★★★★★★★★★ ページ用テンプレート ★★★★★★★★★★ */
#wrapper {
    width:100%;
    margin:0 auto 0;
	padding:60px 0px 0px ;
}
.page_logo{
    position: absolute;
    top: 9px;
    left: 8px;
    width: 56px;
}
.page_logo img{
    width: 100%;
    height: auto;
}



a.text_link{
    display: inline-block;
    margin: 0 0 0 0px;
    text-decoration: underline;
}
a.text_link:hover{
    text-decoration: none;
}

/* ★★★★★★★★★★ TOP_冒頭ビジュアル ★★★★★★★★★★ */
.top_contents_wrap{
    position: relative;
    width: 84%;
    margin: 0px 0 0;
    padding: 70px 5% 150px;
}
.top_contents_wrap img{
    width: 100%;
    height: auto;
}

/* ★★★★★★★★★★ コンテンツ ★★★★★★★★★★ */
.contents_wrap{
    position: relative;
    width: calc(100% - 80px);
    max-width: 800px;
    margin: 0 auto 0px;
    padding: 60px 0 20px;
    color: #fff;
}
.contents_wrap a{
    text-decoration: underline;
}
.contents_wrap a:hover{
    text-decoration: none;
}

h1.contents_title, h2.contents_title{
    display: inline-block;
    margin: 0em 0 1.5em;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
}
h1.contents_title span, h2.contents_title span{
    display: block;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.3em;
}
.contents_title::before {
    content: '';
    display: block;
    width: 90px;
    padding: 20px 0 0px;
    border-top: solid 1px rgba(255,255,255,0.2);
}

.contents_title::after {
    position: absolute;
    top: 60px;
    left: -12px;
    display: block;
    font-family: 'Dongle', sans-serif;
    font-size: 48px;
    font-weight: bold;
    transform: rotate(90deg);
    transform-origin: left top;
    color: rgba(255,255,255,0.2);
}
.contents_title_theme::after {
    content: "Theme";
}
.contents_title_news::after {
    content: "News";
}
.contents_title_coc::after {
    content: "Code of Conducts";
}


/* ★★★★★★★★★★ TOP_CFP ★★★★★★★★★★ */
a.cfp_button{
    display: inline-block;
    margin: -10px 0 10px;
    padding: 5px 16px 5px 20px;
    border-radius: 4px;
    background-color: #fff;
    color: #7C142B;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}
a.cfp_button:hover{
    opacity: 0.5;
}

/* ★★★★★★★★★★ TOP_キーノートスピーカー ★★★★★★★★★★ */
.keynote_speakers_item{
    width: 100%;
    margin: 0 0 40px 0;
}
.keynote_speakers_item:last-of-type{
    width: 100%;
    margin: 0 0 0px 0;
}
.keynote_speakers_item img{
    margin: 0 auto;
    width: 210px;
    height: auto;
    border-radius: 4px;
}
.keynote_speakers_name{
    margin: 0.25em 0 0.5em;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2em;
}
.keynote_speakers_sns_list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0px 0;
}
.keynote_speakers_sns_list li{
    margin: 0 10px 0 0;
}
.keynote_speakers_sns_list li a{
    display: block;
    width: 27px;
    transition: 0.5s;
}
.keynote_speakers_sns_list li a:hover{
    opacity: 0.5;
}
.keynote_speakers_sns_list li a img{
    width: 100%;
    height: auto;
}
.keynote_speakers_text{
    margin: 0;
}




.staff_item{
    width: 45%;
    margin: 0 10% 0 0;
}
.staff_item:nth-child(2n){
    width: 45%;
    margin: 0 0% 0 0;
}
.staff_item:last-of-type{
    width: 45%;
    margin: 0 0% 0 0;
}
.staff_item img{
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 4px;
}




}