body {
	font-family: Verdana, sans-serif;
	margin: 0;
	background-color: #eee;
}

div#wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: #fcfcf0;
}

div#container {
	width: 960px;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
}

#user-bar {
	z-index: 10000;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #000;
	color: #fff;
	font-size: 80%;
}

#user-bar a {
	color: #c0c0c0;
	text-decoration: none;
}

div#top {
	background: url(/images/kansai04/top.png) no-repeat;
	margin: 0;
	padding: 0;
	display: block;
	width: 960px;
	height: 384px;
}

div#left {
	background: url(/images/kansai04/side_l.png) repeat-y;
	width: 192px;
	margin: 0;
}

div#center {
	margin: 0;
	padding: 0;
	display: inline-block;
}

div#main {
	width: 576px;
	margin: 0;
	padding: 0;
	color: #1a1516;
	font-size: 16px;
}

div#right {
	background: url(/images/kansai04/side_r.png) repeat-y;
	width: 192px;
	margin: 0;
}

#main h3 {
	padding: 7px 0 5px 5px;
	margin: 10px 5px;
	font-size: 25px;
	color: #ea1212;
	border-color: #ea1212;
	border-style: solid;
	border-width: 0 0 2px 0;
}

#main h4 {
	margin: 12px 0 0 0;
	padding: 0 0 0 10px;
	font-size: 16px;
	font-weight: bold;
}

#main h5 {
	color: #ea1212;
	padding: 0 0 0 10px;
	margin: 12px 0 0 0;
	font-size: 14px;
}

table#badges {
	width: 500px;
	margin: auto;
}

table#badges ul {
	padding: 5px 0;
}

table#badges img.badges {
	height: 256px;
}

table#badges li {
	list-style: none;
	text-align: center;
}

table#badges li a:link {
	font-size: 14px;
	display: block;
	width: 100%;
	text-decoration: none;
}

table#badges li a:hover {
	color: #fcfcf0;
	font-weight: bold;
}

table#badges ul.attendee li a:hover {
	background-color: #318693;
}

table#badges ul.speaker li a:hover {
	background-color: #ea1212;
}

table#badges ul.staff li a:hover {
	background-color: #1a1516;
}

div#font-acknowledgment {
	text-align: center;
	font-size: 12px;
}

div#map {
	min-height: 240px;
	margin: 0 10px;
}

#main a {
	color: #1a1516;
}

#main a:hover {
	color: #ea1212;
	text-decoration: underline;
}

#main ul {
	list-style-type: disc;
	padding-right: 10px;
	line-height: 160%;
}

#main dl {
	padding: 0 20px;
	line-height: 160%;
}

#main dt {
	margin: 0;
	padding-left: 20px;
	font-weight: bold;
}

#main dd {
	padding-left: 15px;
	margin-left: 50px;
}

#footer {
	text-align: center;
	color: #1a1516;
	font-weight: bold;
	padding: 10px;
	border-color: #ea1212;
	border-style: solid;
	border-width: 2px 0 0 0;
}
