@charset "utf-8";
/* CSS Document */

p,li,dt,dd{
	font-size: 3.5vw;
}
#mainImage {
	text-align: center;
	padding: 20% 0;
	background: url("../images/bottom_line.gif") repeat-x bottom;

}
#mainImage h1{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 40px;
}
#mainImage p.date{
	font-size: 5vw;
	font-weight: bold;
	margin-bottom: 40px;
}
#mainImage #btn{
width: 200px;
margin: 0 auto;
display: table;
margin-bottom: 70px;
}
#mainImage #btn a{
	background: url("../images/btn.gif") no-repeat;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
	height: 43px;
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
#mainImage #detail a{
	text-decoration: none;
	color: #000;
}
#mainImage #detail p{
	font-size: 4vw;
	font-weight: bold;
}

#mainImage #detail i{
	font-size: 8vw;
}

article{
	padding: 15px;
}
article div{
	border: #efefef 1px solid;
	padding: 10px;
	margin-bottom: 20px;
	
}
article .title{
	background: #E90000;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	font-size: 4vw;
	line-height: 1.4;
	margin-bottom: 10px;
	padding: 7px 0;
}
article p{
	font-size: 3.5vw;
	margin-bottom: 5px;
}
article p b{
	display:block;
}
article p:last-child{
	margin-bottom: 0;
}

.wrapper{
	background: #FFF5E1;
	padding: 15px;
}
.wrapper > section{
	margin-bottom: 40px;
}
h2{
	background: #003A8A;
	color: #FFF;
	font-size: 4vw;
	font-weight: bold;
	text-align: center;
	padding: 8px 0;
	margin-bottom: 15px;
}

table th{
	background: #F0F0F0;
	font-size: 3.5vw;
	text-align: left;
	padding: 10px;
	width: 30%;
}
table td{
	background: #FFF;
	font-size: 3.5vw;
	padding: 10px;
}
table th,
table td{
	border-bottom: #E4E4E4 1px solid;
}
table tr:last-child th,
table tr:last-child td{
	border-bottom: none;
}

iframe{
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
}

.box_01 h3{
	font-size: 4vw;
	margin-bottom: 5px;
}
.box_01 div:first-child{
	margin-bottom: 15px;
}


#timetable div{
	background: #FFF;
	border-left: 4px solid #003a8a;
	margin-bottom: 15px;
	padding: 10px 5px 10px 10px;
	-webkit-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.15);
-moz-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.15);
box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.15);
}
#timetable h3{
	color: #00659F;
	font-size: 4vw;
	line-height: 1.4;
}
#timetable p b{
	display:block;
	margin-top: 5px;
}
#timetable p{
	padding-left: 10px;
}

dl{
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}
dl dt{
	width: 22%;
	float: left;
	padding: 2%;
	font-weight: bold;
}
dl dd{
	
	padding: 2%;
}

h3.contact{
	font-size: 3.5vw;
	margin-bottom: 5px;
}

footer {
	text-align: center;
}
footer > div{
	padding: 15px 15px 25px 15px;
}
footer h4{
	margin-top: 15px;
}

footer small{
	background: #EAEAEA;
	display:block;
	text-align: center;
	padding: 15px 0;
}
footer small a{
	color: #333;
	font-size: 3vw;
	
}

/****************************************************************************************

Media Query for PC

*************************************************************************************** */



@media print, screen and (min-width: 750px){


p,li,dt,dd{
	font-size: 16px;
}

#mainImage {
	padding: 130px 0 70px 0;
	background: url("../images/bottom_line.gif") repeat-x bottom;
}
#mainImage h1{
	width: 50%;
	max-width: 661px;
	margin-bottom: 80px;
}

#mainImage p.date {
    font-size:35px;
    margin-bottom: 80px;
}

#mainImage #btn {
    width: 364px;
    margin: 0 auto;
    margin-bottom: 120px;
}
#mainImage #btn a {
    height: 75px;
    font-size: 20px;

}
#mainImage #btn a:hover{
	background: #000;
	color: #FFF;
}

#mainImage #detail p {
    font-size: 20px;
    font-weight: bold;
    line-height: 0.5;
}
#mainImage #detail i{
	font-size: 60px;
}

article{
	position: fixed;
	right: 15px;
	top: 15px;
	width: 190px;
	padding: 0;
}
article div{
	background:rgba(255,255,255,0.6);
}
article .title {
    font-size: 14px;
}
article p {
    font-size: 12px;
    margin-bottom: 5px;
}

h2{
	font-size: 18px;
	margin-bottom: 30px;
}
table{
	width: 100%;
}
table th{
	width: 15%;
}
table th,
table td{
	font-size: 16px;
	padding: 20px 15px;
}
.wrapper{
	padding-top: 80px;
}
.wrapper > section{
	width: 65%;
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 80px;
}

section .invited-speaker__list {
  display: flex;
  flex-wrap: wrap;
}

section .invited-speaker__list-item {
  width: 50%;
}

section .invited-speaker__avatar {
  margin: 8px 4px;
}

section .invited-speaker__avatar .invited-speaker__avatar-img {
  background: #fff;
  border-radius: 4px;
  margin: auto;
  width: 50%;
}

section .invited-speaker__avatar .invited-speaker__description {
  font-size: 0.2vw;
  margin-right: 12px;
}

iframe{
	height: 400px;
}

.box_01{
	overflow: hidden;
	width: 100%;
}
.box_01 h3 {
    font-size: 18px;
}
.box_01 div{
	width:48%;
	float: left;
}
.box_01 div:first-child{
	margin-right: 4%;
}

#timetable h3 {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 7px;
}

#timetable div {
    background: #FFF;
    border-left: 4px solid #003a8a;
    margin-bottom: 15px;
    padding: 20px;
}


dl dt {
    width: 11%;
}
dl dt,
dl dd{
	padding: 7px;
}

h3.contact {
    font-size: 16px;
    margin-bottom: 5px;
}
footer {
	text-align: left;
}
footer div{
    width: 65%;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	padding: 28px 0 35px 0;
}

footer h4 {
    margin-top: 7px;
}

footer div ul{
	width: 22%;
	padding-right: 3%;
	float: left;
}
footer div ul li{
	font-size: 13px;
}
footer small a {
    font-size:14px;
}

.notification {
  font-size: 16px;
  margin: 8px auto;
  padding: 8px;
  text-align: left;
  width: 40%;
}
.notification .title {
  background-color: #000;
  color: #fff;
  margin-bottom: 8px;
  text-align: center;
  text-color: #fff;
  font-size: 32px;
}
}
