/* 初期設定 */

html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100%;
  max-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  color: #59585B;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
}

::-moz-selection,
::selection {
  background: #D6EDFF;
}

h1, h2, h3,
h4, h5, h6 {
  -webkit-font-feature-settings: 'dlig' 0, 'liga' 0, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 0, 'liga' 0, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 0, 'liga' 0, 'lnum' 1, 'kern' 1;
  color: #59585B;
  margin: 0;
  text-rendering: geometricPrecision;
}

a {
  color: #F85032;
  transition: color 0.3s ease;
}
a:hover {
  color: #CB2D3E;
}

p, ul, ol, dl {
  -webkit-font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
  margin: 0 0 1.6rem 0;
  text-rendering: geometricPrecision;
  word-break: break-all;
}

ol, ul {
  padding: 0 0 0 20px;
}

dl dt,
dl dd {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li {
  margin: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #EFEFEF 1px solid;
  margin: 0;
  padding: 0;
}

table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}

table th,
table td {
    padding: 8px;
    line-height: 1.6;
    text-align: left;
}

textarea, select, input {
    padding: 10px;
    margin: 0 0 5px 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.4em;
    background: #fff;
    border: #e7eef2 1px solid;
    border-radius: 4px;
    box-shadow: none;
    -webkit-appearance: none;
}

textarea {
    width: 100%;
    max-width: 340px;
    min-width: 250px;
    height: auto;
    min-height: 80px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
    border: #bbc7cc 1px solid;
    background: #fff;
    outline: none;
    outline-width: 0;
}

select {
    width: 270px;
    height: 30px;
    line-height: 30px;
}

button {
    min-height: 35px;
    width: auto;
    display: inline-block;
    padding: 0.1rem 1.5rem;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px; /* Hacks targeting Firefox. */
    line-height: 13px; /* Hacks targeting Firefox. */
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: none;
    border-radius: 0.3rem;
    border: rgba(0,0,0,0.05) 0.1em solid;
    background: #5ba4e5;
}

/* ラッパー */

.wrapper {
  position: relative;
  z-index: 10;
  min-height: 100%;
  background: #fff;
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease;
}

/* ヘッダー */

.header {
  width: 100%;
  margin: 0 auto 80px;
  overflow: hidden;
  z-index: 100;
  position: absolute;
}
.header--post {
  background: #F85032;
}
.header__inner {
  max-width: 1260px;
  height: 80px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
}
.header__brand {
  width: 50px;
}
.header__logo {
  cursor: pointer;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}
.header__logo img {
  width: 100%;
}
.header__items {
  list-style: none;
  margin: 0;
  display: flex;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-align-items: center;
          align-items: center;
}
.header__item {
  margin: 0 0 0 15px;
}
.header__item a {
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}
.header__item a:hover {
  color: #F0D719;
}

/* アイキャッチ */

.hero {
  background-image: url("../images/bg.png");
  background-size: cover;
  padding: 100px 20px 80px;
}
.hero__logo {
  max-width: 200px;
  width: 100%;
  margin: 0 auto 30px;
  -webkit-animation: fadeIn 1.5s ease 0s 1 normal;
  animation: fadeIn 1.5s ease 0s 1 normal;
}
.hero__date,
.hero__by,
.hero__place {
  color: #FFF;
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: .2px;
}

/* default */

.default-section {
  padding: 80px 20px;
}
.default-section--gray {
  background: #fafafa;
}
.default-section--map {
  padding: 0;
}
.default-section--map iframe {
  width: 100%;
  height: 300px;
  border: 0;
}
.default-section__inner {
  max-width: 970px;
  margin: 0 auto;
}
.default-section__headline {
  font-size: 4rem;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 1.2;
}
.default-section__title {
  font-size: 2.4rem;
  text-align: center;
  margin: 0 auto 20px;
  line-height: 1.2;
}
.default-section__body {
  text-align: center;
  margin: 0 auto 10px;
  color: #999;
}
.default-section__img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.default-section__img--guest,
.default-section__img--sponsor,
.default-section__img--staff {
  max-width: 200px;
  margin: 0 auto 20px;
}
.default-section__img--sponsor-small {
  max-width: 100px;
  margin: 0 auto 20px;
}
.default-section__caption {
  font-size: 1.3rem;
  display: inline-block;
  text-align: left;
  margin: 5px 0;
}
.default-section__card-wrap {
  display: flex;
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
  flex-wrap: wrap;
}
.default-section__card-wrap--sponsor-small,
.default-section__card-wrap--staff,
.default-section__card-wrap--speakers {
  -webkit-justify-content: flex-start; /* Safari */
  justify-content:         flex-start;
}
.default-section__card {
  padding: 20px;
  box-sizing: border-box;
}
.default-section__card--sponsor-small,
.default-section__card--staff {
  width: 50%;
}
.default-section__button {
  position: relative;
  display: block;
  font-weight: bold;
  padding: 1rem 1rem;
  max-width: 280px;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  background: #F85032;
  transition: color 0.3s ease;
  margin: 0 auto;
  font-size: 2rem;
  border-radius: 5px;
  transition: background 0.3s ease;
}
.default-section__button--disabled {
  position: relative;
  display: block;
  font-weight: bold;
  padding: 1rem 1rem;
  max-width: 280px;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  background: #999999;
  transition: color 0.3s ease;
  margin: 0 auto;
  font-size: 2rem;
  border-radius: 5px;
  transition: background 0.3s ease;
}
.default-section__button:hover {
  background: #CB2D3E;
  color: #FFF;
}
.default-section__button--disabled:hover {
  color: #FFF;
}
.default-section__table-wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
}
.default-section__table {
  margin: 0 0 40px;
  width: 100%;
  display: table;
}
.default-section__table__row {
  padding: 10px 0;
  background: #F6F6F6;
  display: table-row;
}
.default-section__table__row:nth-of-type(even) {
  background: #FFF;
}
.default-section__table__header {
  font-weight: bold;
  color: #FFF;
  background: #F85032;
}
.default-section__table__cell {
  padding: 5px 10px;
  display: table-cell;
}

.cell0 {
  width: 4%
}
.cell1 {
  width: 47%
}
.cell2 {
  width: 49%
}
/* post */

.post {
  padding: 160px 0 0;
}
.post__inner {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 20px;
}
.post__header {
  text-align: center;
  margin: 0 0 80px;
}
.post__title {
  font-size: 4rem;
  text-align: center;
  line-height: 1.2;
}
.post__body {
  margin: 0 auto 10px;
  color: #999;
}

/* フッター */

.footer {
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

/* ユーティリティー */

.hidden-mb {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

.hidden-pc {
  display: inherit;
}

/* メディアクエリ */

@media only screen and (min-width: 768px) {
  .header__brand {
    width: 60px;
  }
  .hero__logo {
    max-width: 260px;
  }
  .header__item {
    margin: 0 0 0 20px;
  }
  .hero__date,
  .hero__by,
  .hero__place {
    font-size: 2.4rem;
  }
  .default-section__card--guest {
    width: 50%;
  }
  .default-section__card--sponsor {
    width: 33.3%;
  }
  .default-section__card--sponsor-small {
    width: 20%;
  }
  .default-section__card--staff {
    width: 25%;
  }
  .default-section__card--speakers {
    width: 50%;
  }
  .hidden-mb {
    display: inherit;
  }
  .hidden-pc {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
  }
  .post {
    padding: 160px 0 80px;
  }
}

/* アニメーション */

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
