<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <link rel="icon" href="/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&amp;family=M+PLUS+1:wght@400;500;700;800&amp;family=Noto+Serif+JP:wght@400;500;600&amp;display=swap" rel="stylesheet">
  <link href="/stylesheets/regional.css" media="screen" rel="stylesheet">
  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: 'https://regional.rubykaigi.org' }}">
  <title>Regional RubyKaigi</title>
</head>
<body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
  {{ content }}
</body>
</html>
